[data-rbd-droppable-id='droppable']{
    display: flex;
    width: 80vw;
}

[data-rbd-drag-handle-context-id]{
    width: 25%;
}

.showAnsButton{
    margin-top: 20px;
    align-self: center;
}

.reslectButton{
    margin-bottom: 20px;
    align-self: flex-start;
}
.playOriginButton{
    align-self: flex-start;
}

.outerDiv{
    display: flex;
    flex-direction: column;
    .innerDiv{
        display: flex;
        flex-direction: column;
        border:solid 1px #eeeeee;
        padding:20px;
    }
}
.headerWrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    span.songName{
        border:solid 1px white;
    }

    div.moveCount{
        margin-left: auto;
    }
}
.soundItem{
    .ant-card-body{
        text-align: center;
        button{
            min-width: 50%;
        }
    }

}